.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.about__title {
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 0px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  z-index: 3;
  position: relative;
  max-width: 251px;
}

.about__content {
  max-width: 660px;
  z-index: 3;
  position: relative;
  margin-top: 119px;
  padding: 0;
  margin-right: 80px;
  margin-bottom: 173px;
}

.about__paragraph {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin-top: 0px;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: relative;
  top: -152px;
  left: -129px;
  z-index: 1;
  position: absolute;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
